# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Domination_Game_Team11\main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
