# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Nilesh\Desktop\Winter Term 2021 - Concordia University\A - SOEN-6441 - Adv. Prog. Practices\Project\Domination_Game_Team11\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
